venv
__pycache__
dist
docs
env
logs
Dockerfile
.env
tests
.DS_Store
todos.txt
frontend/utils/request_wrapper.py
*.pyc
*.db
*.txt
PoC_LlamaIndex/data
PoC_LlamaIndex/storage
PoC_marvin/data
backend/storage
*.code-workspace
data
frontend_view.png
.github
.vscode
.pytest_cache
.ruff_cache
pytest.ini