venv
b_venv
*.env
*.pyc
*.db
*.sqlite
*.code-workspace
.DS_Store
.pytest_cache
todos.txt
frontend/static/old_files
frontend/utils/request_wrapper.py
backend/outdated
backend/storage
tests/example_upload_files
tests/test_backend/test.py
PoC_LlamaIndex/data
PoC_LlamaIndex/storage
PoC_marvin/data
data


