fastapi==0.99.1
ipykernel==6.25.2
ipython==8.15.0
langchain==0.0.300
llama-index==0.8.36
marvin==1.4.0
pre-commit
pydantic==1.10.12
requests==2.31.0
streamlit==1.26.0
streamlit-extras==0.3.2
streamlit-option-menu==0.3.6
tiktoken==0.5.1
